@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeModal {
    from {
        opacity: 0;
        height: 0%;
    }

    to {
        opacity: 1;
        height: 100%;
    }
}

.navbar {
    z-index: 999;
}

.nav-item-animation {
    animation-name: fadeIn;
    animation-duration: 1s;
    /* Duração da animação */
    animation-timing-function: ease;
    /* Função de timing (pode ser linear, ease-in, ease-out, etc.) */
    animation-delay: 1s;
    /* Delay antes da animação começar */
    animation-iteration-count: 1;
    /* Quantas vezes a animação será reproduzida */
    animation-fill-mode: forwards;
}

.modal * {
    overflow: hidden!important;
}

.modal {
    overflow: hidden;
    animation-name: fadeModal;
    animation-duration: 1s;
    /* Duração da animação */
    animation-timing-function: ease;
    animation-iteration-count: 1;
    /* Quantas vezes a animação será reproduzida */
    animation-fill-mode: forwards;
}

.btn-close-white {
    font-size: 1.3em;
    margin: 1em;
}

.nav-item-animation:hover {
    cursor: pointer;
    color: var(--text-nav-color-hover);
}

.nav-item-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #6dacff 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-item-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item-animation:nth-child(1) {
    animation-delay: 0.1s;
}

.nav-item-animation:nth-child(2) {
    animation-delay: 0.3s;
}

.nav-item-animation:nth-child(3) {
    animation-delay: 0.5s;
}

.nav-item-animation:nth-child(4) {
    animation-delay: 0.7s;
}

.nav-item-animation:nth-child(5) {
    animation-delay: 0.9s;
}

.nav-item-animation:nth-child(6) {
    animation-delay: 1.1s;
}

.menu-burguer {
    display: none !important;
    transition: 0.5s !important;
    
}

.menu-burguer:hover {
    background-color: rgba(69, 69, 69, 0.504) !important;
}
.bi-list {
    font-size: 1.6em;
}


@media (max-width: 968px) {
    .nav-item-animation {
        display: none;
    }

    .menu-burguer {
        display: block !important;
    }
}