@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeModal {
    from {
        opacity: 0;
        height: 0%;
    }

    to {
        opacity: 1;
        height: 100%;
    }
}

.navbar {
    z-index: 999;
    transition: background-color 0.5s, color 0.3s;
    padding: 0 !important;
}

.navbar-container {
    padding: 0.6em;
}

.navbar-scroll {
    background-color: #0035a7;
    transition: 0.5s;
}

.logo {
    cursor: pointer;
    transition: 0.5s;
}

.logo-background {
    margin-top: 2.5em;
}

.logo {
    z-index: 4;
}

.logo-text {
    z-index: 5;
}

.nav-item-animation {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav-item-animation a {
    text-decoration: none;
}

.modal * {
    overflow: hidden !important;
}

.modal {
    overflow: hidden;
    animation-name: fadeModal;
    animation-duration: 1s;
    /* Duração da animação */
    animation-timing-function: ease;
    animation-iteration-count: 1;
    /* Quantas vezes a animação será reproduzida */
    animation-fill-mode: forwards;
}

.theme-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.theme-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sun-icon {
    position: absolute;
    font-size: 1.5em;
    color: white;
    transform: scale(0);
    transition: 1s ease;
}

input:checked~.sun-icon {
    transition-delay: .3s;
    transform: scale(1) rotate(360deg);
}

.moon-icon {
    font-size: 1.5em;
    color: var(--main-bg-color);
    transition: 1s ease;
    transition-delay: .3s;
}

input:checked~.moon-icon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.toggle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--theme-button);

    z-index: -1;
    transition: 1s;
}

.btn-close-white {
    font-size: 1.3em;
    margin: 1em;
}

.nav-item-animation:hover {
    cursor: pointer;
    color: var(--text-nav-color-hover);
}

.nav-item-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #6dacff 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-item-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item-animation:nth-child(1) {
    animation-delay: 0.1s;
}

.nav-item-animation:nth-child(2) {
    animation-delay: 0.3s;
}

.nav-item-animation:nth-child(3) {
    animation-delay: 0.5s;
}

.nav-item-animation:nth-child(4) {
    animation-delay: 0.7s;
}

.nav-item-animation:nth-child(5) {
    animation-delay: 0.9s;
}

.nav-item-animation:nth-child(6) {
    animation-delay: 1.1s;
}

.menu-text-size {
    font-size: 1.6em;
    width: 100%;
    padding-bottom: 1em !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.448);
}

.menu-burguer {
    display: none !important;
    transition: 0.5s !important;
}

.menu-burguer:hover {
    background-color: rgba(69, 69, 69, 0.504) !important;
}

.bi-list {
    font-size: 1.6em;
}

.btn-close {
    font-size: 1.5em;
}

@media (max-width: 968px) {

    .navbar-nav {
        margin-left: auto !important;
    }

    .nav-item-animation {
        display: none;
    }

    .menu-burguer {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        height: max-content !important;
    }

    .bi-list {
        font-size: 2.5em;
    }

    .logo-text {
        font-size: 1.4em;
    }
}