@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: white!important;
    --modal-bg-color: white!important;
    --default-text: black!important;
    --text-nav-color: black!important;
    --text-nav-color-hover: rgb(57, 57, 57)!important;
    --text-span-title: rgb(83, 160, 255)!important;
    --theme-button: #020a13!important;
}

.light-theme {
    --theme-button: #020a13!important;
    --main-bg-color: white!important;
    --modal-bg-color: white!important;
    --default-text: black!important;
    --text-nav-color: black!important;
    --text-nav-color-hover: rgb(57, 57, 57)!important;
    --text-span-title: rgb(83, 160, 255)!important;
}

.dark-theme {
    --theme-button: #ffffff!important;
    --main-bg-color: #020a13!important;
    --modal-bg-color: rgb(36, 36, 36)!important;
    --text-nav-color: rgb(132, 132, 132)!important;
    --text-nav-color-hover: white!important;
    --default-text: white!important;
}

.bg-content-style {
    background-color: var(--main-bg-color)!important;
    transition: background-color 0.5s, color 0.3s;
}

.text-nav-color {
    color: var(--text-nav-color)!important;
}

.modal-bg-color {
    background-color: var(--modal-bg-color);
}

.text-nav-color:hover {
    color: var(--text-nav-color-hover)!important;
}

.default-text {
    color: var(--default-text)
}

.span-title {
    color: var(--text-span-title);
}

.section-content {
    height: 100dvh;
}