.project-container {
    position: relative;
    padding: 0!important;
    margin: 2em;
} 

.card-description {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.619);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.project-title {
    font-size: 1.2em;
    color: white!important;
}