.section-about {
    height: 100%;
}

.about-subtitle {
    font-size: 1.3em;
}

.about-subtitle2 {
    font-size: 1.1em;
    font-weight: 400;
}

.about-title {
    font-size: 1.7em;
}

.icon-content {
    --c: #2779e3;
    /* the border color */
    --b: 3px;
    /* the border thickness*/
    --g: 0px;
    /* the gap on hover */
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

.icon-content:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

@media(max-width: 968px) {
    .bg-card {
        border-radius: 0;
    }

    .icon-container {
        align-self: start;
    }
}