.section-home {
  height: 100dvh;
  overflow-x: hidden;
  position: relative;
}

.initial-content {
  height: 100dvh;
}

.initial-text-apresentation {
  z-index: 996;
}

.initial-title-apresentation {
  max-width: 700px;
}

.initial-paragraph-apresentation {
  max-width: 600px;
  height: 75px;
}

.title {
  font-size: 2.3em;
}

.animation-heartcode {
  z-index: 1;
}

@media (max-width: 968px) {

  .title {
    font-size: 2.5em;
  }

  .initial-title-apresentation {
    font-size: 2.4em!important;
  }

  .initial-paragraph-apresentation {
    font-size: 1.7em;
    margin-top: 2em;
  }

  .animation-heartcode {
    position: absolute;
    margin: auto;
    opacity: 0;
  }
}
