.section-projects {
    margin-top: 100px;
}

.project-container {
    position: relative;
    padding: 0!important;
    z-index: 10; 
    margin: 2rem;
    max-width: 300px;
    cursor: pointer;
} 

.project-container:hover {
    z-index: 11;
}

.card-description {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.619);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.project-title {
    font-size: 1.2em;
    color: white!important;
}

.date-info {
    z-index: -1;
    margin-top: -60px;
    border-radius: 0px 0px 20px 20px
}

.info-container {
    padding: 10px;
    padding-top: 15px;
}

.info-button {
    padding: 2px;
    width: 70px;
    border-radius: 20px;
    background-color: #2779e300;
    font-size: 0.8em;
    border: 1px solid #2779e3;
}

.info-text {
    font-size: 0.8em;
    margin-top: 5px;
}

.project-container {
    max-width: 90%!important;
}

.card-modal-title {
    color: rgb(83, 160, 255);
}

.description-modal {
    color: rgb(225 225 225);
    font-weight: 500;
    font-size: 0.9em;
}

.modal-project {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 99;
    height: 100dvh;
    width: 100vw;
}

.card-modal-content {
    background-color: #082141;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
}

.background-modal-project {
    background-color: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(3px);
}

.close-button-modal {
    font-size: 2em;
    color: rgb(83, 160, 255);
    cursor: pointer;
}

.modal-redirect-button {
    background-color: rgb(83, 160, 255);
    text-decoration: none;
    padding: 6px;
    margin-right: 0.5rem;
}


.info-modal-color {
    color: rgb(83, 160, 255);
}

@media(min-width: 992px) {
    .card-modal-content {
        max-width: 80%;
    }
}

@media(max-width: 992px) {
    .project-container {
    width: 100%!important;
    }

    .card-modal-content {
        height: calc(100% - 80px);
        width: 100%;
    }
}

@media(min-width: 992px) {
    .project-container  {
        max-width: 450px!important;
    }
}

@media(max-width: 768px) {
    .mquery-modal {
        flex-direction: column-reverse;
    }

    .background-modal-project {
        padding: 0!important;
    }

    .card-modal-content {
        margin: 0;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}