.tab-container {
    padding: 8em;
}

.tab-options {
    padding: 0;
}

.tab-options:checked {
    border-left: 5px solid blue;
}

.tab-title {
    font-size: 1.6em
}

.industry-subtitle {
    font-size: 1.4em;
}

.experiences-title {
    margin: 0;
    padding: 0!important;
    margin-bottom: 2em;
}

.nav-item a {
    color: var(--default-text);  
}

.nav-pills .nav-link {
    border-radius: 0!important;
}

.nav-pills .nav-link.active {
    color: var(--text-span-title)!important;
    border-left: 4px solid blue
}

@media(max-width: 992px) {

    .experiences-title {
        margin-bottom: 0;
        padding-top: 1em!important;
    }

    .tab-container {
        padding: 2em;
    }
    
    .nav-item {
        padding-left: 0px!important;
    }

    .tab-text {
        margin-left: 0!important;
    }

    .tab-content {
        margin-top: 2em!important;
    }
}

@media(max-width: 568px) {
    .tab-container {
        padding: 0;
    }
}